<div class="oj-hybrid-padding">
    <h1>Classification Area</h1>
    <div class="oj-panel oj-bg-info-20">
        <h4 class="oj-header-border">Add New Classification</h4>
        <div class="oj-flex">
            <div class="form-container">
                <div>
                    <oj-input-text value="{{id}}" label-hint="Class ID"></oj-input-text>
                </div>
                <div>
                    <oj-input-text value="{{title}}" label-hint="Title"></oj-input-text>
                </div>
                <div>
                    <oj-input-text value="{{description}}" label-hint="Description"></oj-input-text>
                </div>
            </div>

        </div>
      
    </div>
  </div>