<div class="oj-hybrid-padding">
    <h1>Classification Area</h1>
    <div class="oj-panel oj-bg-info-20">
        <h4 class="oj-header-border">Add New Classification</h4>
        <div class="oj-flex">
            <div id="form-container">
                <oj-dialog style="display: none;" id="msgDialog" dialog-title="[[msgTitle]]">
                    <div slot="body">
                        <oj-bind-text value="[[msgBody]]"></oj-bind-text>
                    </div>
                    <div slot="footer">
                        <oj-button on-oj-action="[[closeDialog]]">OK</oj-button>
                    </div>
                </oj-dialog>
                <div>
                    <oj-input-text value="{{id}}" label-hint="Class ID"></oj-input-text>
                </div>
                <div>
                    <oj-input-text value="{{title}}" label-hint="Title"></oj-input-text>
                </div>
                <div>
                    <oj-input-text value="{{description}}" label-hint="Description"></oj-input-text>
                </div>
                <oj-button on-oj-action="{{addClass}}">Save Class</oj-button>
            </div>
            <div id="tableContainer">
                <oj-table id="classesTable" 
                        data="[[dataProvider]]"
                        selection-mode='{"row":"single" , "column":"multiple"}'
                        dnd='{"reorder":{"columns":"enabled"}}'
                        scroll-policy='loadMoreOnScroll'
                        scroll-policy-options='{"fetchSize":20}'
                        style="width: 1px; min-width:100% "
                        columns='[
                                    {"headerText":"ID#", "field"="id",
                                    "headerClassName":"oj-sm-only-hide",
                                    "className":"oj-sm-only-hide",
                                    "resizable":"disabled"},
                                    {"headerText":"Title", "field"="title",
                                    "resizable":"enabled"},
                                    {"headerText":"Description", "field"="description",
                                    "headerClassName":"oj-sm-only-hide",
                                    "className":"oj-sm-only-hide",
                                    "resizable":"enabled"}
                        ]'
                >

                </oj-table>

            </div>

        </div>
      
    </div>
  </div>