<div class="oj-hybrid-padding">
    <h1>Classification Area</h1>
    <div class="oj-panel oj-bg-info-20">
        <h4 class="oj-header-border">Add New Classification</h4>
        <div class="oj-flex">
        <oj-bind-if test="[[showTable()]]">
            <div id="tableContainer" style="width: 1px; min-width: 100%;">
                <div style="text-align: right;">
                    <oj-button id="openAdd" on-oj-action="[[openAddButton]]">Add New Classification</oj-button>
                </div>
                <oj-table id="classesTable" 
                        data="[[dataProvider]]"
                        selection-mode='{"row": "single", "column": "multiple"}'
                        dnd='{"reorder": {"columns": "enabled"}}'
                        scroll-policy='loadMoreOnScroll'
                        scroll-policy-options='{"fetchSize": 10}'
                        columns='[
                        {"headerText": "ID", 
                        "field": "id",
                        "headerClassName": "oj-sm-only-hide",
                        "className": "oj-sm-only-hide",
                        "resizable": "enabled"},
                        {"headerText": "Title", 
                        "field": "title",
                        "resizable": "enabled"},
                        {"headerText": "Description", 
                        "field": "description",
                        "headerClassName": "oj-sm-only-hide",
                        "className": "oj-sm-only-hide",
                        "resizable": "enabled"},
                        {"headerText": "Actions", 
                        "headerStyle":"text-align:center;",
                        "style": "text-align:center; padding:0px",
                        "sortable":"disabled",
                        "template":"actionsTemplate"}
                        ]'
                        style="width: 1px; min-width: 100%;"
                        class='demo-table-container oj-bg-body'
                >
                <template slot="actionsTemplate" data-oj-as="cell">
                    Cell Template

                </template>
    
                </oj-table>
    
            </div>
        </oj-bind-if>
        <oj-bind-if test="[[!showTable()]]">
            <div id="form-container">
                <oj-dialog style="display: none;" id="msgDialog" dialog-title="[[msgTitle]]">
                    <div slot="body">
                        <oj-bind-text value="[[msgBody]]"></oj-bind-text>
                    </div>
                    <div slot="footer">
                        <oj-button on-oj-action="[[closeDialog]]">OK</oj-button>
                    </div>
                </oj-dialog>
                <div>
                    <oj-input-text value="{{id}}" label-hint="Class ID"></oj-input-text>
                </div>
                <div>
                    <oj-input-text value="{{title}}" label-hint="Title"></oj-input-text>
                </div>
                <div>
                    <oj-input-text value="{{description}}" label-hint="Description"></oj-input-text>
                </div>
                <oj-button on-oj-action="{{addClass}}">Save Class</oj-button>
                <oj-button id="openTable" on-oj-action="[[openTableButton]]">Cancel</oj-button>
            </div>
        </oj-bind-if>
           
        </div>
        

      
    </div>
  </div>